extends template/_markdown-layout.pug

block BLOCK_LAYOUT_CONTENT
	ul
		li
			ul.inline
				li: a(href='https://sk-0520.github.io/blog/') blog
		li
			ul.inline
				li: a(href='http://www.vector.co.jp/soft/winnt/util/se507846.html'): strong Pe
				li: a(href='https://github.com/sk-0520/Pe') リポジトリ
				li: a(href='https://github.com/sk-0520/Pe/discussions') ディスカッション
		li
			ul.inline
				li: strong page-translation-dictionary
				li: a(href='https://github.com/sk-0520/page-translation-dictionary') リポジトリ
				li: a(href='https://github.com/sk-0520/page-translation-dictionary/discussions') ディスカッション
		li
			ul.inline
				li: a(href='https://ganttwbs-sk-0520.vercel.app/'): strong GanttWBS
				li: a(href='https://github.com/sk-0520/ganttwbs') repository
	p このサイトでは google analytics を使用してます。
