extends template/_markdown-layout.pug

block BLOCK_LAYOUT_CONTENT
	ul
		li
			ul.inline
				li: a(href='https://sk-0520.github.io/blog/') blog
		li
			ul.inline
				li: a(href='http://www.vector.co.jp/soft/winnt/util/se507846.html'): strong Pe
				li: a(href='https://github.com/sk-0520/Pe/discussions') forum
				li: a(href='https://github.com/sk-0520/Pe') repository
		li
			ul.inline
				li: strong page-translation-dictionary
				li: a(href='https://github.com/sk-0520/page-translation-dictionary/discussions') forum
				li: a(href='https://github.com/sk-0520/page-translation-dictionary') repository
		li
			ul.inline
				li: strong MnMn
				li: a(href='https://groups.google.com/d/forum/mnmn-forum') forum
				li: a(href='https://github.com/sk-0520/mnmn') repository
	p このサイトでは google analytics を使用してます。
