extends template/_layout.pug

block BLOCK_LAYOUT_CONTENT
	ul
		li
			ul.inline
				li: a(href='http://content-type-text.blogspot.jp/') blog
		li
			ul.inline
				li: a(href='http://www.vector.co.jp/soft/winnt/util/se507846.html'): strong Pe
				li: a(href='https://groups.google.com/d/forum/pe_development') forum
				li: a(href='https://bitbucket.org/sk_0520/pe') repository
		li
			ul.inline
				li: strong MnMn
				li: a(href='https://groups.google.com/d/forum/mnmn-forum') forum
				li: a(href='https://bitbucket.org/sk_0520/mnmn') repository
	p このサイトでは google analytics を使用してます。
